{% load static %}
{% include 'includes/navbar.html' %}
<style>
/* Laptops & small desktops */
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
#main{
  margin-top: 13%;
}
html, body {
  overflow: hidden;  /* no scrollbars at all */
}
}
</style>
{% include 'includes/sidebar.html' %}
    <div class="action">
      <H1>REPORTS</H1>
      <div class="search_bar">
        <input type="text" placeholder="Search Reports" />
      </div>
        <button class="button">
          <span class="button_text">CUSTOMIZE</span>
          <span class="button_icon">
            <i class='bx bxs-customize' ></i>
          </span>
        </button>
    </div>
    <div class="main_body" id="main">

      <div class="tabs">
        <input type="radio" class="tabs_radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs_label">STANDARD</label>
          <div class="tab-content">
            <div id="Overview">
              <div id="Account-balance">Business Overview</div>
              <div id="Sales-overview">Accounts Receivable</div>
              <div id="Expenses-overview">Sales and Customers</div>
              <div id="Invoices">Accounts Payable</div>
              <div id="Outstanding-bills">Expenses and Suppliers</div>
              <div id="Profit-loss">Employees</div>
              <div id="Profit-loss">For my account</div>
              <div id="Profit-loss">Pay roll</div>
            </div>
          </div>

          <input type="radio" class="tabs_radio" name="tabs-example" id="tab2">
          <label for="tab2" class="tabs_label">CUSTOM REPORTS</label>
            <div class="tab-content">
              <div id="Overview">
                <div id="Account-balance"></div>
                <div id="Sales-overview"></div>
                <div id="Expenses-overview"></div>
                <div id="Invoices"></div>
                <div id="Outstanding-bills"></div>
                <div id="Profit-loss"></div>
              </div>
            </div>

            <input type="radio" class="tabs_radio" name="tabs-example" id="tab3">
            <label for="tab3" class="tabs_label">MANAGEMENT REPORTS</label>
              <div class="tab-content">
                <div id="Overview">
                  <div id="Account-balance"></div>
                  <div id="Sales-overview"></div>
                  <div id="Expenses-overview"></div>
                  <div id="Invoices"></div>
                  <div id="Outstanding-bills"></div>
                  <div id="Profit-loss"></div>
                </div>
              </div>
      </div>
    </div>
    <!-- JavaScript -->
 {% include 'includes/footer.html' %}
