{% load static %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}
    <div class="action">
      <H1>TAXES</H1>
      <div class="search_bar">
        <input type="text" placeholder="Search Taxes" />
      </div>
        <button class="button">
          <span class="button_text">SETUP TAXES</span>
          <span class="button_icon">
            <i class='bx bx-folder-plus'></i>
          </span>
        </button>
        <button class="button">
          <span class="button_text">INCOME TAX</span>
          <span class="button_icon">
            <i class='bx bx-import' ></i>
          </span>
        </button>
        <button class="button">
          <span class="button_text">VAT</span>
          <span class="button_icon">
            <i class='bx bx-export' ></i>
          </span>
        </button>
        <button class="button">
          <span class="button_text">PAYE</span>
          <span class="button_icon">
            <i class='bx bxs-customize' ></i>
          </span>
        </button>
    </div>
    <div class="main_body">
     
    </div>
 {% include 'includes/footer.html' %}
